.item {
  background-color: #00b3ff;
}
.hub {
  background-color: #0051ff;
}
.item,
.hub {
  padding-left: 10px;
  padding-top: 10px;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(2, 100px);
  row-gap: 25px;
  column-gap: 25px;
  background-color: #40fef4;
  color: white;
}
