*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  grid-template-rows: 60px repeat(4 , 1fr);
  gap: 15px;
}

.item {
  background-color: rgb(124, 44, 137);
  color: white;
  padding: 20px;
  font-size: 22px;
}

.item-1 {
  grid-row: 1 / span 4 ;
  grid-column: 1 / 1;
}

.item-2 {
  grid-row:  1 / 2;
  grid-column: 2 / 5;
}

.item-3 {
  grid-row:  3 / 2;
  grid-column: 2 / 3;
}

.item-4 {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

.item-5 {
  grid-row:  2 / span 1 ;
  grid-column: 4  / span 2  ;
}

.item-6 {
  grid-row: 3 / 2 span ;
  grid-column: 2 / 4 span ;
}

.item-7 {
  grid-row: 5 / 5;
  grid-column: 1 / 6;
}
